@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* --- PALETA FABULA ULTIMA --- */
  
  /* Cores de Fundo (Pergaminho) */
  --color-parchment: #fdfbf7;
  --color-parchment-dark: #f4eee1; /*para bordas e cards */
  
  /* Primária (Roxo Arcano) */
  --color-arcane: #5e2ca5;
  --color-arcane-light: #753bbd; /* Para efeitos de hover (passar o mouse) */
  --color-arcane-dark: #431c7a;  /* Para textos muito fortes */
  
  /* Secundária (Vermelho Carmesim) */
  --color-crimson: #a31526;
  --color-crimson-light: #c21f33;

/* --- TIPOGRAFIA--- */

  --font-credit: var(--font-credit), serif;
  --font-antonio: var(--font-antonio), sans-serif;
  --font-pt: var(--font-pt-sans), sans-serif;
}

/* O @layer base aplica regras globais no HTML puro antes das classes.
  Aqui garantimos que a página inteira nasça com a cor do pergaminho.
*/
@layer base {

  :root {
    --bg-parchment: #fdfbf7;
    --bg-parchment-dark: #f4eee1;
    --text-arcane: #5e2ca5; /* Roxo forte para dar contraste no claro */
    --text-base: #334155;
  }

  /* O MODO ESCURO */

  .dark {
    --bg-parchment: #1a1a24; /* Um tom de "papiro noturno" ou obsidiana */
    --bg-parchment-dark: #232333; 
    --text-arcane: #a778f5; /* Roxo mais claro, em tom pastel, para brilhar no escuro */
    --text-base: #e2e8f0;
  }


  body {
    background-color: var(--color-parchment);
    color: var(--text-base); 
    font-family: var(--font-pt); 
  }


  h1 {
    font-family: var(--font-credit);
    color: var(--color-arcane);
    font-weight: normal; 
  }

  /* Subtítulos (Conceitos) */
  h2, h3, h4, h5, h6 {
    font-family: var(--font-antonio);
    color: var(--color-arcane-dark);
    text-transform: uppercase;
    letter-spacing: 0.05em; 
  }
}