@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* O Bloco @theme é a alma do Tailwind v4. 
  Tudo que colocamos aqui vira uma classe utilitária automaticamente.
*/
@theme {
  /* --- PALETA FABULA ULTIMA --- */
  
  /* Cores de Fundo (Pergaminho) */
  --color-parchment: #fdfbf7;
  --color-parchment-dark: #f4eee1; /* Excelente para bordas e cards */
  
  /* Primária (Roxo Arcano) */
  --color-arcane: #5e2ca5;
  --color-arcane-light: #753bbd; /* Para efeitos de hover (passar o mouse) */
  --color-arcane-dark: #431c7a;  /* Para textos muito fortes */
  
  /* Secundária (Vermelho Carmesim) */
  --color-crimson: #a31526;
  --color-crimson-light: #c21f33;

/* --- TIPOGRAFIA DA TRINDADE --- */
  /* Aqui dizemos ao Tailwind para criar as classes 'font-credit', 'font-antonio' e 'font-pt' */
  --font-credit: var(--font-credit), serif;
  --font-antonio: var(--font-antonio), sans-serif;
  --font-pt: var(--font-pt-sans), sans-serif;
}

/* O @layer base aplica regras globais no HTML puro antes das classes.
  Aqui garantimos que a página inteira nasça com a cor do pergaminho.
*/
@layer base {
  body {
    background-color: var(--color-parchment);
    color: #334155; /* Um cinza chumbo muito elegante para leitura longa */
    font-family: var(--font-pt); /* O texto base do site agora é PT Sans Narrow */
  }

  /* Títulos Grandes (Oito Pilares) */
  h1 {
    font-family: var(--font-credit);
    color: var(--color-arcane);
    font-weight: normal; /* Fontes super estilizadas geralmente não precisam de bold extra */
  }

  /* Subtítulos (Conceitos) */
  h2, h3, h4, h5, h6 {
    font-family: var(--font-antonio);
    color: var(--color-arcane-dark);
    text-transform: uppercase; /* Antonio fica espetacular em MAIÚSCULAS para subtítulos */
    letter-spacing: 0.05em; /* Um pequeno espaçamento para dar fôlego ao título */
  }
}